@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

.body {
    font-family: "Lexend", sans-serif;
    background-image: url("dotBackground.png");
    background-color: #fff6dbff;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.box {
    border-radius: 2em;
    border: 2px solid #000000;
    box-shadow: 3px 3px 0px 0px #000000;

    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
    width: 40%;
}

.title-box {
    background-color: rgb(227, 222, 228); 
}

.inputs-box {
    background-color: rgb(229, 209, 233);
}

.submit-box {
    background-color: rgb(220, 187, 228);
}   

.input {
    margin-top: 0.5em;
    padding: 0.5em;
    border-radius: 2em;
    border: 2px solid #000000;
    font-family: "Lexend", sans-serif;
    width: 300px;
}

.input-end {
    margin-top: 0.5em;
    padding: 0.5em;
    border-radius: 2em;
    border: 2px solid #000000;
    font-family: "Lexend", sans-serif;
    margin-left: 0.2em;
    margin-right: 0.2em;

}

.table {
    width: 100%;
    margin-top: 0.5em;
}